In [2]:
import sqlalchemy as db
from sqlalchemy import create_engine
hostname="localhost"
dbname="sample_tasks_quant"
uname="root"
pwd="root"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

In [3]:
engine

Engine(mysql+pymysql://root:***@localhost/sample_tasks_quant)

In [4]:
connection = engine.connect()
metadata = db.MetaData()

In [5]:
sample_tushare_data = db.Table('sample_tushare_data', metadata, autoload=True, autoload_with=engine)

In [6]:
sample_tushare_data

Table('sample_tushare_data', MetaData(), Column('ts_code', TEXT(), table=<sample_tushare_data>), Column('trade_date', TEXT(), table=<sample_tushare_data>), Column('open', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('high', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('low', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('close', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('pre_close', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('change', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('pct_chg', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('vol', DOUBLE(asdecimal=True), table=<sample_tushare_data>), Column('amount', DOUBLE(asdecimal=True), table=<sample_tushare_data>), schema=None)

In [7]:
print(sample_tushare_data.columns.keys())

['ts_code', 'trade_date', 'open', 'high', 'low', 'close', 'pre_close', 'change', 'pct_chg', 'vol', 'amount']

In [8]:
query = db.select([sample_tushare_data])

In [9]:
result_proxy = connection.execute(query)

In [10]:
resultset = result_proxy.fetchall()

In [11]:
resultset[:3]

[('000001.SZ', '20220906', Decimal('12.5800000000'), Decimal('12.6600000000'), Decimal('12.4300000000'), Decimal('12.5000000000'), Decimal('12.5700000000'), Decimal('-0.0700000000'), Decimal('-0.5569000000'), Decimal('731294.9900000000'), Decimal('914692.1840000000')),
 ('000001.SZ', '20220905', Decimal('12.4600000000'), Decimal('12.6000000000'), Decimal('12.3700000000'), Decimal('12.5700000000'), Decimal('12.5100000000'), Decimal('0.0600000000'), Decimal('0.4796000000'), Decimal('632039.9800000000'), Decimal('788451.0890000000')),
 ('000001.SZ', '20220902', Decimal('12.6200000000'), Decimal('12.6900000000'), Decimal('12.4300000000'), Decimal('12.5100000000'), Decimal('12.6100000000'), Decimal('-0.1000000000'), Decimal('-0.7930000000'), Decimal('786362.8100000001'), Decimal('983433.8630000000'))]

In [12]:
query_today = db.select([sample_tushare_data]).where(sample_tushare_data.columns.trade_date == '20220906')
res_proxy_today = connection.execute(query_today)
res_today = res_proxy_today.fetchall()
res_today

[('000001.SZ', '20220906', Decimal('12.5800000000'), Decimal('12.6600000000'), Decimal('12.4300000000'), Decimal('12.5000000000'), Decimal('12.5700000000'), Decimal('-0.0700000000'), Decimal('-0.5569000000'), Decimal('731294.9900000000'), Decimal('914692.1840000000'))]

In [13]:
import pandas as pd
df = pd.DataFrame(res_today)
df.columns = res_today[0].keys()

In [14]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20220906,12.5800000000,12.6600000000,12.4300000000,12.5000000000,12.5700000000,-0.0700000000,-0.5569000000,731294.9900000000,914692.1840000000

In [15]:
sample_hkex_data = db.Table('sample_hkex_data', metadata, autoload=True, autoload_with=engine)
print(sample_hkex_data.columns.keys())

['Rank', 'Stock Code', 'Name', 'Buy Trades (HKD)', 'Sell Trades (HKD)', 'Turnover (Buy + Sell Trades) (HKD)']